<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="UTF-8">
    <title>New Event</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="newEvent.html">Create Event</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-controller="editEventController" class="mt-3">
        <div class="row mt-3">
            <div class="col-6 mx-auto mt-3">
                <h1>
                    New Event:
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto">
                <form name="editEventForm">
                    <div class="form-group">
                        <label for="eventName">Event Name:</label>
                        <input type="text" class="form-control" id="eventName" placeholder="Name of Your Event ..."
                               required ng-model="event.name">
                    </div>
                    <div class="form-group">
                        <label for="eventDate">Event Date:</label>
                        <input type="text" class="form-control" id="eventDate" placeholder="format (mm/dd/yyyy) ..."
                               required ng-pattern="/\d\d\/\d\d\/\d\d\d\d/" ng-model="event.date">
                    </div>
                    <div class="form-group">
                        <label for="eventTime">Event Time:</label>
                        <input type="text" class="form-control" id="eventTime" placeholder="Start and End Time ..." required ng-model="event.time">
                    </div>
                    <div class="form-group">
                        <label for="eventAddress">Location:</label>
                        <input type="text" class="form-control w-100" id="eventAddress"
                               placeholder="Address of Event ..." ng-model="event.location.address" required>
                        <div class="row my-3">
                            <div class="col">
                                <input type="text" class="form-control d-inline float-left" id="eventCity"
                                       placeholder="City ..." ng-model="event.location.city" required>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control d-inline" id="eventProvince"
                                       placeholder="Province ..." ng-model="event.location.province" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label for="validatedCustomFile">Image:</label>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" required ng-model="event.imgUrl">
                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                        <img src="" alt="{{ event.name }}" data-ng-src="{{ event.imgUrl }}">
                    </div>
                    <button class="btn btn-primary mt-3 btn-block" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--  Attach JS Libs  -->
<script src="lib/jquery.min.js"></script>
<script src="lib/underscore.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/eventController.js"></script>
<script src="js/controllers/editEventController.js"></script>
</body>
</html>
